.Header {
  background-color: pink;
  color: white;

  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
}

.Header__menu-icon {
  background-color: red;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 20px;
  margin: 10px;
}

.Header__title {
  // padding: 0 20px;
  flex-shrink: 0;
}

.Header__spacer {
  flex-grow: 1;
}

.Header__navigation {
  flex-shrink: 0;
}

.Header__navigation-item {
  padding: 0 20px;
  text-decoration: none;

}
