@import "../variables";
@import "../mixins";

.Sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.Sidebar__title {
  line-height: 64px;
  // height: 64px;
}

.Sidebar__navigation {
  display: flex;
  flex-direction: column;
}

.Sidebar__navigation-item {
  color: black;
  padding: 16px 0;
  text-decoration: none;
}
