// Convention: Anything that starts with "is" is set via js



.mdl-layout {
  background-color: grey;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

// classes like is-small-screen should be set in javascript.
// let the topmost component listen to media and set appropriate classes
// to the main layout.
// Any descendents of small screen layout whose class includes 'large-screen-nly'
// don't have a display.
// display gets rid of the element altogether; visibility hidden doesn't
.mdl-layout.is-small-screen .mdl-layout--large-screen-only {
  display: none;
}

// if not small screen, all small screen elements shouldn't be shown
.mdl-layout:not(.is-small-screen) .mdl-layout--small-screen-only {
  display: none;
}

.mdl-layout__header {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: center;

  width: 100%;
  min-height: 64px;
  max-height: 1000px;
  padding: 0 $layout-header-desktop-indent 0 $layout-header-desktop-indent;
  z-index: 3;

  background-color: pink;
  color: white;

  // @include shadow-2dp();
}

// .mdl-layout__header-row {
//   box-sizing: border-box;
//   display: flex;
//   flex-shrink: 0;
//   align-items: center;
//   height: 64px;
//   padding: 0 $layout-header-desktop-indent 0 $layout-header-desktop-indent;
// }

.mdl-layout-title {
  @include typo-title();
  // font-weight: 400;
  // box-sizing: border-box;
}

.mdl-layout-spacer {
  flex-grow: 1;
}


.mdl-navigation {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 64px;
}

.mdl-navigation__link {
  // display: block;
  color: $layout-header-text-color;
  line-height: $layout-header-desktop-row-height;
  text-decoration: none;
  padding: 16px 24px;
  @include typo-body-1(true);
}
